<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style> </style>
        <title></title>
    </head>
    <body>

    {% block content %}
        
         <h1>IF</h1>
         {% if student %}
         <h1>My name is {{student}}</h1> 
         {% else %}
         <h1>NO name</h1>
         {% endif %}
         {% end block content%}

     <h1>for tag</h1>
    
    {% for i in list1 %}
    <p>{{i}}</p>
    {% empty %}
    <p>no values</p>
    {% endfor%}
    </body>
</html>